<div class="row">
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content black-text">
        <span class="card-title">Ingresos</span>
        <h4 class="center-align">$20M</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card"> 
      <div class="card-content black-text">
        <span class="card-title">Clientes Totales</span>
        <h4 class="center-align">1025</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content white-text">
        <img class="cards" src="../../assets/img/cart.svg">
      </div>
    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content white-text">
        <img class="cards" src="../../assets/img/clientes.svg">
      </div>
    </div>
  </div>
</div>
<div class="pad">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Clientes</span>
          <chartlineCliente></chartlineCliente>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Contratos</span>
          <barchart></barchart>
        </div>
      </div>  
    </div>
  </div>
</div>