<form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="last_name" type="text" name="cli_rut" #cli_rut="ngModel" [(ngModel)]="cliente.cli_rut">
                    <label for="icon_prefix">RUT del Cliente</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input id="last_name" type="text" name="cli_nombres" #cli_nombres="ngModel" [(ngModel)]="cliente.cli_nombres">
                        <label for="icon_prefix">Nombres del Cliente</label>
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input id="last_name" type="text" name="cli_apellidos" #cli_apellidos="ngModel" [(ngModel)]="cliente.cli_apellidos">
                        <label for="icon_prefix">Apellidos del Cliente</label>
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        <i class="material-icons prefix">local_phone</i>
                        <input id="last_name" type="text" name="cli_numerotelefonico" #cli_numerotelefonico="ngModel" [(ngModel)]="cliente.cli_numerotelefonico">
                        <label for="icon_prefix">Numero Telefonico</label>
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        <i class="material-icons prefix">place</i>
                        <input id="last_name" type="text" name="cli_direccion" #cli_direccion="ngModel" [(ngModel)]="cliente.cli_direccion">
                        <label for="icon_prefix">Direccion</label>
                    </div>
                </div>
                <div class="col m12">
                    <p class="center-align">(CORREO Y CONTRASEÑA SON PARA USUARIO)</p>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input id="last_name" type="text" name="usu_correo" #usu_correo="ngModel" [(ngModel)]="usuario.usu_correo">
                        <label for="icon_prefix">Correo</label>
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input id="last_name" type="password" name="password" #password="ngModel" [(ngModel)]="usuario.password">
                        <label for="icon_prefix">Contraseña</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l3 offset-l9">
            <div *ngIf="!editandoCliente && !editandoUsuario" class="right-align">
                <button class="waves-effect waves-light btn blue-grey darken-2" type="submit" value="Entrar" name="action">Editar</button>
            </div>
            <div *ngIf="editandoCliente || editandoUsuario" class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>