<div *ngIf="!cobranzas" class="progress">
  <div class="indeterminate"></div>
</div>
<div *ngIf="cobranzas" class="row">
  <div class="padtable">
    <div class="row">
      <div class="col s12 m12  left-align">       
        <h4>Cobranzas</h4>
      </div>
    </div>  
    <div>
      <table class="responsive-table striped highlight">
        <thead>
          <tr>
            <th>Nombre Plan</th>
            <th>Fecha</th>
            <th>Mes</th>
            <th>Monto</th>
            <th>Estado</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cobranza of cobranzas | paginate: { itemsPerPage: 6, currentPage: p }; index as i;"> 
            <td>{{cobranza.contrato.contrato_historico.plan.pla_nombre}}</td>
            <td>{{cobranza.cobranza_historica.cob_fecha.toLocaleString()}}</td>
            <td>{{cobranza.cobranza_historica.cob_fecha.toLocaleString("es-CL", {month: "long"}) | titlecase}}</td>
            <td>${{cobranza.cobranza_historica.cob_monto}}</td>
            <td *ngIf="cobranza.cobranza_historica.pago"><a class="waves-effect waves-light btn">Descargar Boleta</a></td>
            <td *ngIf="!cobranza.cobranza_historica.pago"><a class="waves-effect waves-light btn" (click)="redirect(cobranza.id)">Pagar</a></td>
          </tr>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </tbody>
      </table>
    </div>
  </div>
</div>