<div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modal">
    <div class="modal-content modalback">
        <div class="row">
            <div class=" col s10 m6 left-align">
                <h5>Registrar Cobranza</h5>
            </div>
            <div class="col s2 m6 right-align">
                <a (click)="cerrar()">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <form #cobranzaForm="ngForm" (ngSubmit)="onSubmit()">

            <!-- Seleccionar cliente -->
            <div class="row">
                <div class="col s12">
                    <div *ngIf="clientes" class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input id="nombre_cliente" type="text" #cliente name="cliente" autocomplete="off" materialize="autocomplete" [materializeParams]="[autocomplete]">
                        <label for="icon_prefix">Nombre del Cliente</label>
                    </div>
                </div>
            </div>

            <!-- Seleccionar grupo -->
            <div class="row tooltipped" data-position="bottom" data-tooltip="Para desplegar lista, seleccione cliente">
                <div class="col s12">
                    <div class="input-field">
                        <i class="material-icons prefix">assignment</i>
                        <!-- Select activo -->
                        <select [disabled]="!contratos" name="tgf_contrato_historico_id" [(ngModel)]="cobranzaHistorica.contrato_historico" (ngModelChange)="onChangeContrato()"
                            materialize="material_select">
                            <option value="" disabled selected>Seleccionar Grupo</option>
                            <option *ngFor="let contrato of contratos" [ngValue]="contrato.contrato_historico">{{contrato.contrato_historico.grupo.gru_nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Indicar monto -->
            <div class="row">
                <div class="col m6">
                    <div class="input-field">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="last_name" type="number" name="cob_monto" [(ngModel)]="cobranzaHistorica.cob_monto">
                        <label for="icon_prefix">Monto</label>
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        <select name="tgf_metodo_pago_id" [(ngModel)]="pago.tgf_metodo_pago_id" materialize="material_select" [materializeSelectOptions]="metodos">
                            <option [ngValue]="null">No Agregar Pago</option>
                            <option *ngFor="let metodo of metodos" [ngValue]="metodo.id">{{metodo.mep_nombre}}</option>
                        </select>
                        <label for="icon_prefix">Método de Pago</label>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 l3 offset-l9">
                    <div class="right-align">

                        <button *ngIf="!registrando" class="waves-effect waves-light btn blue-grey darken-2" type="submit" value="Registrar" name="action">Registrar</button>

                        <div *ngIf="registrando" class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>