<div *ngIf="!horario || !dias || !horas" class="progress">
    <div class="indeterminate"></div>
</div>
<div *ngIf="horario && dias && horas" class="row">
    <table>
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let dia of dias">{{dia.dia_nombre}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hora of horas">
                <td>{{hora.hor_inicio + " " + hora.hor_fin}}</td>
                <td *ngFor="let dia of dias">
                    <!--Si hay horario activo, desactivar-->
                    <a (click)="deactivateHorario(mapHorario[hora.id][dia.id])" *ngIf="mapHorario[hora.id] && mapHorario[hora.id][dia.id] && !mapHorario[hora.id][dia.id].hor_inactivo && !mapHorario[hora.id][dia.id].action">
                        <i class="material-icons">check_box</i>
                    </a>

                    <!--Si hay horario sin ID, esperar-->
                    <div class="preloader-wrapper small active" *ngIf="mapHorario[hora.id] && mapHorario[hora.id][dia.id] && mapHorario[hora.id][dia.id].action">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>

                    <!--Si hay un horario inactivo, activar-->
                    <a (click)="activateHorario(mapHorario[hora.id][dia.id])" *ngIf="mapHorario[hora.id] && mapHorario[hora.id][dia.id] && mapHorario[hora.id][dia.id].hor_inactivo && !mapHorario[hora.id][dia.id].action">
                        <i class="material-icons">check_box_outline_blank</i>
                    </a>

                    <!--Si no hay horario, crear-->
                    <a (click)="createHorario(hora.id, dia.id)" *ngIf="!mapHorario[hora.id] || !mapHorario[hora.id][dia.id]">
                        <i class="material-icons">check_box_outline_blank</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>