<div class="row">
    <div class="padtable">
        <div class="row">
            <div class="col s12 m12  left-align">
                <h4>Planes</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul materialize="tabs" class="tabs">
                    <li class="tab col s3">
                        <a class="active" href="#contratados">Contratados</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#solicitados">Solicitados</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#disponibles">Disponibles</a>
                    </li>
                </ul>
            </div>
            <div id="contratados" class="col s12">
                <div *ngIf="!contratos" class="progress">
                    <div class="indeterminate"></div>
                </div>
                <div *ngIf="contratos">
                    <table class="responsive-table striped highlight">
                        <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Descripción</th>
                                <th>Sede</th>
                                <th>Horarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contrato of contratos | paginate: { id: 'pag_contratados', itemsPerPage: 5, currentPage: p1 }; index as i;">
                                <td>{{contrato.plan.pla_nombre}}</td>
                                <td>{{contrato.plan.pla_descripcion}}</td>
                                <td>{{contrato.plan.sede.sed_nombre}}</td>
                                <td>
                                    <a (click)="abrirHorarios(contrato.plan)">
                                        <i class="material-icons">date_range</i>
                                    </a>
                                </td>
                            </tr>
                            <pagination-controls id="pag_contratados" (pageChange)="p1 = $event"></pagination-controls>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="solicitados" class="col s12">
                <div *ngIf="!solicitudes" class="progress">
                    <div class="indeterminate"></div>
                </div>
                <div *ngIf="solicitudes">
                    <table class="responsive-table striped highlight">
                        <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Descripción</th>
                                <th>Sede</th>
                                <th>Horarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitud of solicitudes | paginate: { id: 'pag_solicitudes', itemsPerPage: 5, currentPage: p2 }; index as i;">
                                <td>{{solicitud.plan.pla_nombre}}</td>
                                <td>{{solicitud.plan.pla_descripcion}}</td>
                                <td>{{solicitud.plan.sede.sed_nombre}}</td>
                                <td>
                                    <a (click)="abrirHorarios(solicitud.plan)">
                                        <i class="material-icons">date_range</i>
                                    </a>
                                </td>
                            </tr>
                            <pagination-controls id="pag_solicitudes" (pageChange)="p2 = $event"></pagination-controls>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="disponibles" class="col s12">
                <div *ngIf="!disponibles" class="progress">
                    <div class="indeterminate"></div>
                </div>
                <div *ngIf="disponibles">
                    <table class="responsive-table striped highlight">
                        <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Descripción</th>
                                <th>Sede</th>
                                <th>Horarios</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let plan of disponibles | paginate: { id: 'pag_disponibles', itemsPerPage: 5, currentPage: p3 }; index as i;">
                                <td>{{plan.pla_nombre}}</td>
                                <td>{{plan.pla_descripcion}}</td>
                                <td>{{plan.sede.sed_nombre}}</td>
                                <td>
                                    <a (click)="abrirHorarios(plan)">
                                        <i class="material-icons">date_range</i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn" (click)="solicitarPlan(plan)">
                                        Solicitar
                                    </a>
                                </td>
                            </tr>
                            <pagination-controls id="pag_disponibles" (pageChange)="p3 = $event"></pagination-controls>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<horario></horario>