<div *ngIf="!contratados || !disponibles" class="progress">
    <div class="indeterminate"></div>
</div>
<div *ngIf="contratados && disponibles" class="row">
    <div class="padtable">
        <div class="row">
            <div class="col s12 m12  left-align">
                <h4>Planes</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul materialize="tabs" class="tabs">
                    <li class="tab col s3"><a class="active" href="#contratados">Contratados</a></li>
                    <li class="tab col s3"><a href="#disponibles">Disponibles</a></li>
                </ul>
            </div>
            <div id="contratados" class="col s12">
                <table class="responsive-table striped highlight">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Descripción</th>
                            <th>Sede</th>
                            <th>Horarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plan of contratados | paginate: { id: 'pag_contratados', itemsPerPage: 5, currentPage: p1 }; index as i;">
                            <td>{{plan.pla_nombre}}</td>
                            <td>{{plan.pla_descripcion}}</td>
                            <td>{{plan.sede.sed_nombre}}</td>
                            <td>
                                <a materialize="dropdown" class="right-align" [attr.data-activates]="'dropdown-'+i+'-1'">
                                    <i class="material-icons">date_range</i>
                                </a>
                                <ul id="dropdown-{{i}}-1" class='dropdown-content'>
                                    <li *ngFor="let horario of plan.horarios">
                                        <a>{{horario.hor_hora}}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <pagination-controls id="pag_contratados" (pageChange)="p1 = $event"></pagination-controls>
                    </tbody>
                </table>
            </div>
            <div id="disponibles" class="col s12">
                <table class="responsive-table striped highlight">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Descripción</th>
                            <th>Sede</th>
                            <th>Horarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plan of disponibles | paginate: { id: 'pag_disponibles', itemsPerPage: 5, currentPage: p2 }; index as i;">
                            <td>{{plan.pla_nombre}}</td>
                            <td>{{plan.pla_descripcion}}</td>
                            <td>{{plan.sede.sed_nombre}}</td>
                            <td>
                                <a materialize="dropdown" class="right-align" [attr.data-activates]="'dropdown-'+i+'-2'">
                                    <i class="material-icons">date_range</i>
                                </a>
                                <ul id="dropdown-{{i}}-2" class='dropdown-content'>
                                    <li *ngFor="let horario of plan.horarios">
                                        <a>{{horario.hor_hora}}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <pagination-controls id="pag_disponibles" (pageChange)="p2 = $event"></pagination-controls>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>