<div id="modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modal">
    <div class="modal-content modalback">
        <div class="row">
            <div class=" col s10 m6 left-align">
                <h5>¿Seguro que desea eliminar esta cobranza?</h5>
            </div>
            <div class="col s2 m6 right-align">
                <a (click)="cerrar()">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <form #cobranzaForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="col s12">
                <div *ngIf="cobranza" class="row">
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Grupo</th>
                                <th>Fecha</th>
                                <th>Mes</th>
                                <th>Monto</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{cobranza.contrato.contrato_historico.cliente.cli_nombres}} {{cobranza.contrato.contrato_historico.cliente.cli_apellidos}}</td>
                                <td>{{cobranza.contrato.contrato_historico.grupo.gru_nombre}}</td>
                                <td>{{cobranza.cobranza_historica.cob_fecha.toLocaleString()}}</td>
                                <td>{{cobranza.cobranza_historica.cob_fecha.toLocaleString("es-CL", {month: "long"}) | titlecase}}</td>
                                <td>{{cobranza.cobranza_historica.cob_monto}}</td>
                                <td>
                                    <p *ngIf="cobranza.cobranza_historica.pago">{{cobrana.cobranza_historica.pago.metodo_pago.mep_nombre}}</p>
                                    <i *ngIf="!cobranza.cobranza_historica.pago" class="material-icons">close</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="green-text right-align">Se mantendrá un registro histórico de la cobranza.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l3 offset-l9">
                    <div class="right-align">

                        <button *ngIf="!eliminando" class="waves-effect waves-light btn blue-grey darken-2" type="submit" value="Eliminar" name="action">Eliminar</button>

                        <div *ngIf="eliminando" class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>