<ul materialize="tabs" id="tabs-swipe-demo" class="tabs">
  <li id="tabs1" class="tab col s3"><a class="active" href="#test-swipe-1">Registro Cliente</a></li>
  <li id="tabs2" class="tab col s3 disabled"><a href="#test-swipe-2">Registro Usuario</a></li>
</ul>
<div id="test-swipe-1" class="col s12">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="col s12">  
      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <i class="material-icons prefix">person</i>
            <input id="last_name" type="text" name="cli_rut" #cli_rut="ngModel" [(ngModel)]="cliente.cli_rut">
            <label for="icon_prefix">RUT del Cliente</label>
          </div>
        </div>
        <div class="row">
          <div class="col m6">
            <div class="input-field">
              <i class="material-icons prefix">person</i>
              <input id="last_name" type="text" name="usu_correo" #cli_nombres="ngModel" [(ngModel)]="cliente.cli_nombres">
              <label for="icon_prefix">Nombres del Cliente</label>
            </div>
          </div>
          <div class="col m6">
            <div class="input-field">
              <i class="material-icons prefix">person</i>
              <input id="last_name" type="text" name="cli_apellidos" #cli_apellidos="ngModel" [(ngModel)]="cliente.cli_apellidos">
              <label for="icon_prefix">Apellidos del Cliente</label>
            </div>
          </div>
          <div class="col m6">
            <div class="input-field">
              <i class="material-icons prefix">local_phone</i>
              <input id="last_name" type="text" name="cli_numerotelefonico" #cli_numerotelefonico="ngModel" [(ngModel)]="cliente.cli_numerotelefonico">
              <label for="icon_prefix">Numero Telefonico</label>
            </div>
          </div>
          <div class="col m6">
            <div class="input-field">
              <i class="material-icons prefix">place</i>
              <input id="last_name" type="text" name="cli_direccion" #cli_direccion="ngModel" [(ngModel)]="cliente.cli_direccion">
              <label for="icon_prefix">Direccion</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l3 offset-l9">
        <div class="right-align">
          <button class="waves-effect waves-light btn blue-grey darken-2" type="submit" value="Entrar" name="action">Ingresar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="test-swipe-2" class="col s12">
  <registrousuario [client]="client" (modal)="cambio($event)"></registrousuario>
</div>