<div class="row">

    <div class="col s3">
        <ul class="tabs-vertical" materialize="tabs">
            <li class="tab row">
                <a class="active" href="#actuales">Actuales</a>
            </li>
            <li class="tab row">
                <a href="#solicitando">Solicitando el Plan</a>
            </li>
            <li class="tab">
                <a href="#cancelacion">Cancelación de Contrato</a>
            </li>
        </ul>
    </div>

    <div class="col s9">

        <div id="actuales">
            <div *ngIf="!contratos" class="progress">
                <div class="indeterminate"></div>
            </div>
            <div *ngIf="contratos">
                <div class="padtable">
                    <div>
                        <table class="responsive-table striped highlight">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let contrato of contratos | paginate: { itemsPerPage: 6, currentPage: p }; index as i;">
                                    <td>{{contrato.cliente.cli_rut}}</td>
                                    <td>{{contrato.cliente.cli_nombres + " " + contrato.cliente.cli_apellidos}}</td>
                                    <td>
                                        <a *ngIf="contrato.cliente.usuario">{{contrato.cliente.usuario.usu_correo}}</a>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/admin/cliente', contrato.cliente.id]">
                                            <i class="material-icons">settings</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a (click)="deleteContrato(contrato)">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="solicitando">
            Lista de clientes solicitando plan
        </div>

        <div id="cancelacion">
            Lista de clientes que no han pagado
        </div>

    </div>

</div>