<div id="modal2" class="modal col s12" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modal">
    <div class="modal-content modalback">
        <div class="row">
            <div class=" col s10 m6 left-align">
                <h5>Registrar Pago</h5>
            </div>
            <div class="col s2 m6 right-align">
                <a (click)="cerrar()">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <form #cobranzaForm="ngForm" (ngSubmit)="onSubmit">
            <div class="row" *ngIf="metodosPago">
                <div class="input-field col s12">
                    <select name="selectMetodoPago" (change)="seleccionarMetodo($event)" materialize="material_select">
                        <option value="" disabled selected>Seleccionar Método de Pago</option>
                        <option *ngFor="let metodoPago of metodosPago" [value]="metodoPago.id">{{metodoPago.mep_nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l3 offset-l9">
                    <div class="right-align">
                        <button class="waves-effect waves-light btn blue-grey darken-2" type="submit" value="Registrar" name="action">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>