<div *ngIf="!planes" class="progress">
  <div class="indeterminate"></div>
</div>
<div *ngIf="planes" class="row">
  <div class="padtable">
    <div class="row">
      <div class="col s12 m12  left-align">
        <h4>Planes</h4>
      </div>
    </div>
    <div>
      <table class="responsive-table striped highlight">
        <thead>
          <tr>
            <th>Plan</th>
            <th>Descripción</th>
            <th>Sede</th>
            <th>Horarios</th>
            <th>Cupos Totales</th>
            <th>Inscritos</th>
            <th>Contratos</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of planes | paginate: { itemsPerPage: 6, currentPage: p }; index as i;">
            <td>{{plan.pla_nombre}}</td>
            <td>{{plan.pla_descripcion}}</td>
            <td>{{plan.sede.sed_nombre}}</td>
            <td>
              <a (click)="abrirHorarios(plan)">
                <i class="material-icons">date_range</i>
              </a>
            </td>
            <td>50</td>
            <td>{{plan.contratos.length}}</td>
            <td>
              <a (click)="openModal(plan.contratos)">
                <i class="material-icons">person</i>
              </a>
            </td>
            <td>
              <a (click)="inscripcionPlan.abrir(plan.id)">
                <i class="material-icons">group_add</i>
              </a>
            </td>
            <td>
              <a [routerLink]="['/admin/plan', plan.id]">
                <i class="material-icons">settings</i>
              </a>
            </td>
            <td>
              <a (click)="deletePlan(plan.id)">
                <i class="material-icons">close</i>
              </a>
            </td>
          </tr>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large blue-grey darken-2">
    <i class="material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating light-blue" (click)="registroPlan.abrir()">
        <i class="material-icons">people</i>
      </a>
    </li>
  </ul>
</div>

<div id="modal1" class="modal col s12" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="row">
      <div class=" col s10 m6 left-align">
        <h4>Contratos</h4>
      </div>
      <div class="col s2 m6 right-align">
        <a (click)="closeModal()">
          <i class="material-icons">close</i>
        </a>
      </div>
    </div>
    <div *ngIf="!contratos" class="progress">
      <div class="indeterminate"></div>
    </div>
    <ul *ngIf="contratos" materialize="collapsible" class="collapsible" data-collapsible="accordion">
      <li *ngFor="let contrato of contratos; index as i;">
        <div class="collapsible-header">
          <i class="material-icons">person</i>{{contrato.cliente.cli_nombres}} {{contrato.cliente.cli_apellidos}}</div>
        <div class="collapsible-body">
          <table *ngIf="contrato">
            <tbody>
              <tr>
                <th>Nombre Completo</th>
                <td>{{contrato.cliente.cli_nombres}} {{contrato.cliente.cli_apellidos}}</td>
              </tr>
              <tr>
                <th>Telefono</th>
                <td>{{contrato.cliente.cli_numerotelefonico}}</td>
              </tr>
              <tr>
                <th>Dirección</th>
                <td>{{contrato.cliente.cli_direccion}}</td>
              </tr>
              <tr>
                <th>Acta</th>
                <!--<td><iframe width="100%" height="100%" src="{{GLOBAL.url}}"></iframe></td>-->
                <td>
                  <acta [contrato_id]="contrato.id"></acta>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
</div>

<registroplan></registroplan>

<inscripcionplan></inscripcionplan>

<horario></horario>