<div *ngIf="!notificaciones" class="progress">
    <div class="indeterminate"></div>
</div>
<div *ngIf="notificaciones" class="row">
    <div class="padtable">
        <div class="row">
            <div class="col s12 m12  left-align">
                <h4>Notificaciones</h4>
            </div>
        </div>
        <div class="collection" *ngFor="let notificacion of notificaciones | paginate: { itemsPerPage: 6, currentPage: p }; index as i;">
            <a (click)="openModal(notificacion)" class="collection-item">{{notificacion.not_titulo}}</a>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large blue-grey darken-2">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating light-blue" (click)="openCreate()">
                <i class="material-icons">people</i>
            </a>
        </li>
    </ul>
</div>

<div id="modal1" class="modal col s12" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content modalback">
        <div class="row">
            <div class=" col s10 m6 left-align">
                <h5>Notificacion</h5>
            </div>
            <div class="col s2 m6 right-align">
                <a (click)="closeModal()">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <notificacionviewer></notificacionviewer>
    </div>
</div>