<div *ngIf="!cobranzas" class="progress">
  <div class="indeterminate"></div>
</div>
<div *ngIf="cobranzas" class="row">
  <div class="padtable">
    <h4>Clientes</h4>
    <div>
      <table class="responsive-table striped highlight">
        <thead>
          <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cobranza of cobranzas | paginate: { itemsPerPage: 6, currentPage: p }; index as i;">
            <td>{{cobranza}}</td>
            <td>{{cobranza}}</td>
            <td>{{cobranza}}</td>
            <td><a><i class="material-icons">settings</i></a></td>
            <td><a><i class="material-icons">create</i></a></td>
            <td><a><i class="material-icons">close</i></a></td>
          </tr>
        </tbody>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
  </div>
</div>

<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large blue-grey darken-2">
    <i class="material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating light-blue" (click)="openModal()"><i class="material-icons">people</i></a></li>
  </ul>
</div>

<div id="modal1" class="modal col s12" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content modalback">
      <div class="row">
        <div class=" col s10 m6 left-align">
          <h5>Registro</h5>
        </div>
        <div class="col s2 m6 right-align">
          <a (click)="closeModal()"><i class="material-icons">close</i></a>
        </div>
      </div>
      <registrocobranza></registrocobranza>
  </div>
</div>