.login {
  height: 80%;
  width: 80%;
  margin-top: 10%;
}

button {
  width: 100%
}

.fond {
  border: 1px solid #ccc;
  padding: 0.01em 16px;
  background-color: white;
}

nav{
  margin-bottom: 1%;
}

.check{
  font-size: 5px;
}

body {
  background-image: url("../fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}


html{
  width: 100%;
  height: 100%;
}

.padlog{
  margin-top: 4%
}

input{
  border: 1px solid #ccc;
  background-color: #E6E6E6;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.pad{
 padding: 0 !important;
}